// Colores
$gris-claro: #f8f9fa;
$gris-medio: #dcdcdc;
$gris-oscuro: #6c757d;
$negro: #212529;
$blanco: #fff;
$color-principal: $negro;

// Tipografía
$fuente-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;
